@font-face {
  font-family: "Manjari";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Manjari-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+0D01-0D7F, U+200C, U+200D, U+25CC;
}
[lang = 'ml']
{
  font-family: 'Manjari';
}
body {
  font-family: sans-serif;
  max-width: 48rem;
  margin: 0 auto;
  box-shadow: 0 0 2rem 0 #bbb;
  line-height: 1.6;
}
article {
  text-align: center;
  padding: 3rem;
}
section {
  background-color: #eee;
  padding: 1rem;
}
section input {
  padding: 0.5rem;
}
section button {
  padding: 0.5rem;
}
nav {
  background-color: #17a;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0.5rem;
  color:white;
}
nav li * {
  display: block;
}
nav a {
  text-decoration: none;
}
nav a, nav a:visited, nav a:active {
  color: inherit;
}
nav a:hover {
  background: #069;
}
nav strong {
  color: white;
  padding-right: 2rem;
}
ul {
  list-style-type: none;
}
li {
  margin: 5px;
}
footer {
  background-color: #eee;
  text-align:center;
}
h3 {
  text-align: center;
}
