@font-face {
  font-family: "Manjari";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Manjari-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+0D01-0D7F, U+200C, U+200D, U+25CC;
}
html {
    scroll-behavior: smooth;
    min-height: 100%;
}
[lang = 'ml']
{
  font-family: 'Manjari';
}
body {
  color: #fafafa;
  background-color: #222222;
  font-family: sans-serif;
  font-size: 1.10rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
main {
	display: block;
	max-width: 40rem;
	margin: 0 auto;
	padding: 0;

}
a {
  color: #fafafa;
}
a:hover {
  background: #ffdd55;
  text-decoration: none;
  color: #222222;
}
section {
  padding: 1rem;
}
section input {
  padding: 0.5rem;
}
section button {
  padding: 0.5rem;
}	
header {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2rem;
  	background-color: #1e1e1e;
}
header li {
	display:inline-block;
	list-style:none;
  	margin: 0 0.5rem;
  	text-transform: uppercase;
}
#nav_title {
	font-size:1.2em;
  margin-left: 2rem;
}
@media all and (max-width: 600px) {
	header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
}	
.song_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  
}
.song_list_item {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
	margin: 5px;
	text-transform: capitalize;
	
}
.song_list_songno {
	display: flex;
}
footer {
  text-align:center;
}
h3 {
  text-align: center;
}

