body {
  font-family: sans-serif;
  max-width: 48rem;
  margin: 0 auto;
  box-shadow: 0 0 2rem 0 #bbb;
  line-break: 1.6;
}
nav {
  background-color: #17a;
  margin-bottom: 1rem;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0.5rem
}
nav strong {
  color: white;
  padding-right: 2rem;
}
ul {
  list-style-type: none;
}
