
  {{define "main"}}
  <main>
  <label for = 'SongNo'>Enter Song Number</label>
  <input type = 'number' id = 'SongNo' placeholder = 'Enter Song Number'>
  <button onClick = 'redirectToSong()'>Go to Song</button>
  <script>
   function redirectToSong() {
      // Get the user input from the text field
      var songNumber = document.getElementById("SongNo").value;

      // Construct the URL for redirection
      var redirectURL = songNumber;

      // Redirect the user
      window.location.href = redirectURL;
      }
  </script>
  <article>
  <ul style="list-style-type: none;">
  {{range (sort .Pages "Title")}}
    <li><strong>{{.Params.songno}}</strong>&nbsp<a href = "{{.Permalink}}">{{.Title}}</a></li>
  {{end}}
  </ul>
  </article>
</main>
{{end}}
