
  {{define "main"}}
  <main>
  <label for = 'SongNo'>Enter Song Number</label>
  <input type = 'number' id = 'SongNo' placeholder = 'Enter Song Number'>
  <button onClick = 'redirectToSong()'>Go to Song</button>
  <script>
   function redirectToSong() {
      // Get the user input from the text field
      var songNumber = document.getElementById("SongNo").value;

      // Construct the URL for redirection
      var redirectURL = songNumber;

      // Redirect the user
      window.location.href = redirectURL;
      }
  </script>
  <article>
  <table>
  	<thead>
  		<tr>
  			<th scope = "col">Song Number</th>
  			<th scope = "col">Title</th>
  		</tr>
  	</thead>
  	 {{range (sort .Pages "Title")}}
  	<tr>
  		<th scope = "row">{{.Params.songno}}</th>
		<td><a href = "{{.Permalink}}">{{.Title}}</a></td>
	</tr>
	{{end}}
  </table>
  </article>
</main>
{{end}}
