
  <section class="goToSong">

  <label for = 'SongNo'>Enter Song Number</label>
  <input type = 'text' id = 'SongNo' placeholder = 'Enter Song Number' required = "">

  <button onClick = 'redirectToSong()'>Go to Song!</button>
  <script>
   function redirectToSong() {
      // Get the user input from the text field
      var songNumber = document.getElementById("SongNo").value;

      // Construct the URL for redirection
      var redirectURL = songNumber;

      // Redirect the user
      window.location.href = redirectURL;
      }
  </script>
</section>
