 <header>
  <h1 id = "nav_title" data-pagefind-ignore><a href= "/">EU SongBook</a></h1>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href = "/malayalam">Malayalam</a></li>
      <li><a href = "/hindi">Hindi</a></li>
      <li><a href = "/tamil">Tamil</a></li>
      <li><a href = "/search">Search</a></li>
      </ul>
    </nav>
    <button type ="button" id = "install">Install</button>
    <script>
      let deferredPrompt;

window.addEventListener('beforeinstallprompt', (e) => {
    deferredPrompt = e;
});
const installApp = document.getElementById('install');

installApp.addEventListener('click', async () => {
    if (deferredPrompt !== null) {
        deferredPrompt.prompt();
        const { outcome } = await deferredPrompt.userChoice;
        if (outcome === 'accepted') {
            deferredPrompt = null;
        }
    }
});
    </script>
  </header>
