<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!-- Open Graph Meta -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- if .IsPage }}
<meta property="article:section" content="{{ .Section }}" />
{{ end }}
<!-- Twitter Meta -->
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
<meta name="description" content="{{ .Summary }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#0d47a1"/>
<link rel="manifest" href="/manifest.json" />
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "img//apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "img//apple-touch-icon.png/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "img//favicon-16x16.png" | absURL }}">
<link rel="prefetch" href="/malayalam" as="document">
<link rel="prefetch" href="/hindi" as="document">
<link rel="prefetch" href="/tamil" as="document">
<script src="/pagefind/pagefind-ui.js"></script>
